{% extends('base.html.twig') %}

{% block body %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p>Connecté en tant que: {{ app.user.username }}</p>
        <p><a href="{{path('logout')}}">Sé déconnecter</a></p>
    {% else %}
        <p>
            <a href="{{path(('connexion'))}}">Page de connexion</a>
        </p>
        <p><a href="{{path('user_registration')}}">Page d'inscription</a></p>

    {% endif %}
{% endblock %}
